.Square {
	width: 100px;
	height: 100px;
	border: 0;
	background-color: white;
	color: black;
	border: 1px solid #d9d9d9;
	font-size: 2rem;
}

.Square:hover {
	cursor: pointer;
	border: 1px solid red;
}

.Board {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.row {
	display: flex;
}

.Board h1 {
	color: green;
}

.reset {
	font-size: 0.9rem;
	border: 1px solid #d9d9d9;
	background-color: white;
	padding: 0.8rem 3rem;
	margin-top: 10px;
	border-radius: 0.4rem;
}

.reset:hover {
	background-color: darkred;
	color: white;
}